
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #D3E4CD;
}


nav{
    background: #5C7AEA;
    height: 80px;
    width: 100%;
    box-shadow: 0 15px 15px -10px black;
    text-decoration: none;
}
label.logo{
    color: tomato;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Bungee Inline', cursive;
    text-shadow: #161E54 1px 0 4px;
}
nav ul{
    float: right;
    margin-right: 20px;
    align-items: center;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: 'Staatliches', cursive;
    font-size: 27px;
    font-weight: 600;
    padding: 3px; 
    color: #193498;
    text-decoration: none;
    
}
nav ul li a:hover{
    transition: 1s;
    background-color: tomato;
    color: whitesmoke;
    padding: 7px 12px 7px 12px;
    border-radius: 6px;
}

#timecontainer{
  font-size: 45px;
  font-weight: 900;
  font-family: 'Saira Condensed', sans-serif;
  padding-left: 20px;
  color: #212121;
  display: inline-block;
}
#daytoday{
  padding-left: 25px;
}
h1{
    font-size: 3rem;
    font-weight: 65;
    margin: 1rem 0 3rem;
    text-align: center;
}

.listtext{
    font-weight: 800;
    color: #125C13;
    font-family: 'Rajdhani', sans-serif;
}
.styling{
    font-weight: 800;
    color: #125C13;
    font-family: 'Rajdhani', sans-serif;
}

.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputDiv .input{
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: #DFEEEA;
    width: 500px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Staatliches', cursive;
    margin: 0.25rem;
    border-radius: 5px;
    border-color: #DFEEEA;
}

.add{
    height: 40px;
    width: 50px;
    border-radius: 15px;
    background-color: #261C2C;
    color: #BFA2DB;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    outline: none;
    margin-left: 0.9rem;
}

.add:hover{
    opacity:0.8;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item{
    padding: 1.25rem;
    margin-bottom:0.3rem;
    border-bottom: 2px solid #BFA2DB;
    
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #125C13;
	font-size: 30px;
	width: 245px;
    font-family: 'Staatliches', cursive;
    font-weight: 700;
}

.edit{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    font-family: 'Staatliches', cursive;
    /* padding:0 2em; */
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
    border-radius: 5px;
    padding:10px;
    /* margin-left: 3px; */
    margin-right: 6px;
  }
  .edit:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .edit:before,.edit:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .edit:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .edit:hover:before,.edit:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.remove{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    font-family: 'Staatliches', cursive;
    /* padding:0 2em; */
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
    border-radius: 5px;
    padding:10px;
    /* margin-left: 3px; */
    margin-right: 6px;
  }
  .remove:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .remove:before,.remove:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .remove:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .remove:hover:before,.remove:hover:after{
    width:100%;
    transition:800ms ease all;
  }
.whole{
    padding-top: 150px;
}
#quotes{
    align-content: center;
    /* position: relative; */
}

#herequotes{
    padding-top: 10%;
    text-align: center;
    font-family: 'Courgette', cursive;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 700;
    font-size: 30px;
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
#quotebutton{
    margin-left: 47%;
    padding-top: 5px;
}

#textinbutton{
    font-family: 'Staatliches', cursive;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}
#textinbutton{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    /* padding:0 2em; */
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
  }
  #textinbutton:hover{
    background:#fff;
    color:#1AAB8A;
  }
  #textinbutton:before,#textinbutton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  #textinbutton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #textinbutton:hover:before,#textinbutton:hover:after{
    width:100%;
    transition:800ms ease all;
  }